.log{
    width: 50%;
    margin: 0 auto 100px;
}

.mou1{
    position: relative;
    left: 1000px;
    top: 100px;
}

.mou1 img{
    width: 200px;
}

.ti{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.pic{
    display: flex;
    font-size: 24px;
}

.pic .in{
    padding-left: 50px;
    color: #434343;
}

.in input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    background-color: #BDC0BA;
    border: none;
    font-size: 18px;
}

.btn{
    display: flex;
    align-self: center;
    position: relative;
    right: 120px;
    top: 20px;
}

.btn a{
    text-decoration: none;
    font-size: 14px;
}

.btn1{
    width: 70px;
    height: 25px;
    border: 1px solid #171c38;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}

.btn2{
    width: 70px;
    height: 25px;
    border: 1px solid;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
}

.btn3{
    width: 70px;
    height: 25px;
    border: 1px solid;
    background-color: #171c38;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
}

.btn1 a{
    color: #171c38;
}

.btn2 a{
    color: black;
}

.btn3 a{
    color: #BDC0BA;
}