.news{
    background-image: url(../img/home/moon.png),
                      url(../img/home/mountain.png),
                      url(../img/home/tree5.png);
    background-repeat: no-repeat;
    background-position: right top,
                         right 882px,
                         left center; 
}

h1{
	font-size: 36px;
	text-align: center;
	padding-bottom: 30px;
	letter-spacing: 2px;
	position: relative;
    margin-top: 50px;
}

h1:before, h1:after{
	content: '';
	display: block;
	height: 1px;
	width: 100px;
	background-color: #999;
	position: absolute;
	top: 35%;
}

h1:before{
	left: 50%;
	margin-left: -300px;
}

h1:after{
	right: 50%;
	margin-right: -300px;
}

.basic{
	width: 840px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	margin: 0 auto 30px auto;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.basic img{
	display: block;
	margin-right: 20px;
	float: left;
    width: 200px;
}

.basic h2{
	font-size: 2em;
	padding-bottom: 10px;
	color: #171c38;
}

.basic p{
	font-size: 15px;
	line-height: 1.6;
	color: #666;
	margin-bottom: 20px;
}

.transition{
	transition-property: all;
	transition-duration: .5s;
}

.transition:hover{
	border-radius: 20px;
	border-color: #999;
	box-shadow: 2px 3px 2px rgba(0,0,0,.2);
}