
.mou1{
    position: relative;
    left: 180px;
    top: 40px;
}

.mou2{
    position: relative;
    left: 180px;
    top: 175px;
}

.mou1 img{
    width: 200px;
}

.ti{
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid black;
}

.pin{
    width: 70%;
    display: flex;
    font-size: 24px;
    margin: 50px auto 150px;
    line-height: 2;
}

.p1{
    position: relative;
    left: 320px;
}

.p2{
    position: relative;
    left: 385px;
}

.pin input{
    width: 300px;
    height: 25px;
    border-radius: 10px;
}

.btn{
    width: 80px;
    height: 25px;
    background-color:#171c38;
    border: 1px solid #171c38;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
    text-align: center;
    line-height: 25px;
    margin: 0 auto 25px;
}

.btn a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}