.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 100px auto 0;
    background-image:url(../img/home/tree2.png),
                     url(../img/home/moon.png);
    background-repeat: no-repeat;
    background-position: 0px 460px,
                         right top;
}

.si{
    width: 70%;
}

.sth{
    align-self: flex-start;
    font-size: 40px;
    margin-bottom: 40px;
}

.sip{
    align-self: center;
    text-align: center;
    font-size: 32px;
}

.sip p{
    letter-spacing: 2px;
    line-height: 2;
}

.sl{
    display: flex;
    flex-direction: column;
    padding: 100px 0;


}

.sl span{
    width: 14%;
    align-self:flex-end;;
}

.sl span a{
    text-decoration: none;
    color: #434343;
    font-size: 24px;
}

.sl img{
    width: 20%;
    align-self: flex-end;
}